Package: mcpil
Version: ${VERSION}
Maintainer: TheBrokenRail <connor24nolan@live.com>
Description: Minecraft Pi Launcher
Homepage: https://mcpi.tk
Architecture: all
Depends: python3, python3-tk, python3-ttkthemes, minecraft-pi-reborn-virgl | minecraft-pi-reborn-native | mcpirdl
