[Desktop Entry]
Name=MCPIL-R
Comment=MCPI Launcher - Rebooted
Icon=/usr/share/pixmaps/mcpil-r.png
StartupNotify=false
StartupWMClass=mcpil-r
Exec=/usr/bin/mcpil-r
Terminal=false
Type=Application
Categories=Application;Game;
